body {
    display: block;
}

input {
    border-radius: 20px;
}

#searchform {
    width: 100%;
    top: 311px;
    min-width: 400px;
}

#nav, #ads {
    float: left;
}

#links, #setting {
    float: right;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    padding: 10px;
}

footer {
    background: darkgrey;
    color: gray;
    padding: 10px 0 10px 0;
    height: 20px;
}

